# IDEs and Editors
/Code
/Code - OSS
JetBrains/
/clangd
jgit

# Web Browsers
/chromium
/mozilla/firefox
/BraveSoftware/Brave-Browser

# Chat and Communication
/discord

# Text Editors
/sublime-text

# Development Tools
/github-copilot
/gh
/go/telemetry/local

# Desktop Environments and Display
/gtk-3.0
/dconf
/systemd/user
/QCurve/
/QtProject.conf
/menus/applications-merged

# Audio and Media
/pavucontrol.ini
/obs-studio
/Ultralytics

# System Apps
/btop
/htop
/vifm
/hexchat
/picom
/ly
/remmina
/qutebrowser
/qalculate
/calcurse
/ctags

# Creative Tools
/GIMP/

# Other Apps
/obsidian
/label-studio
/Antigravity
/tailscale
/freerdp/server
/autostart

# Emacs
/auto-save-list
/eln-cache
/elpa
/transient

# Misc Trash
/_trash
/pulse
/emacs/auto-save-list
/emacs/eln-cache/30.2-6a8b22b2
/emacs/elpa
/emacs/projectile-bookmarks.eld
/emacs/transient/history.el
/ghc/ghci_history
/mimeapps.list
