_trash
pulse
JetBrains/CLion2025.3
autostart
jgit
Code
dconf
pavucontrol.ini
/chromium
/github-copilot
/mimeapps.list
/obsidian
/sublime-text/Local
/qalculate
/remmina
/sublime-text/Packages/User
/picom
/btop
/htop
/vifm
/hexchat
/obs-studio
/qutebrowser
/QtProject
/clangd
/ly
/ly
/ly/startup.sh
/ly
/ly
