_trash
pulse
JetBrains/CLion2025.3
autostart
jgit
Code
dconf
pavucontrol.ini
/chromium
/github-copilot
/mimeapps.list
/obsidian
/sublime-text/Local
/qalculate
/remmina
/sublime-text/Packages/User
/picom
/btop
/htop
/vifm
/hexchat
/obs-studio
/qutebrowser
/QtProject
/clangd
/ly
/ly
/ly/startup.sh
/ly
/ly
/GIMP/3.0
/Ultralytics
/calcurse
/go/telemetry/local
/label-studio
/QtProject.conf
/Code - OSS
/JetBrains/RustRover2026.1
/discord
/mozilla/firefox
/systemd/user
/discord
/tailscale
/GIMP/3.2
/mozilla/firefox
/Antigravity
/BraveSoftware/Brave-Browser
/menus/applications-merged
/freerdp/server
