* {
    font-family: LiterationMono;
    font-size: 10px;
    border-radius: 0;
}

window#waybar {
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #444444;
    min-height: 20px;
}

#workspaces {
    margin: 0;
    padding: 0 5px;
}

#workspaces button {
    min-width: 30px;
    padding: 0 8px;
    margin: 0;
    background-color: #1e1e1e;
    color: #888888;
    border: none;
    border-bottom: 2px solid transparent;
}

#workspaces button:hover {
    background-color: #2d2d2d;
    color: #aaaaaa;
}

#workspaces button.active {
    background-color: #1e1e1e;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

#clock {
    padding: 0 15px;
    min-width: 50px;
}
