/* Reset all elements globally */
* {
    margin: 0;
    padding: 0;
    border-radius: 0;
    font-family: "LiberationMono", monospace;
    font-size: 20px;
    border: none;
}

window {
    background-color: #282828;
    color: #ebdbb2;
}

#input {
    background-color: #1d2021;
    color: #ebdbb2;
    padding: 8px 8px;
    outline: none;
    caret-color: #fe8019;
}

#input:focus {
    background-color: #3c3836;
    outline: none;
    border-color: #3c3836;

}

#input:active {
    background-color: #3c3836;
    outline: none;
    border-color: #3c3836;
}


#entry {
    padding: 10px 10px;
    margin: 0px 10px 0px 10px;
    background-color: transparent;
    color: #928374;
}

#entry:selected {
    color: #fe8019;
    background-color: transparent;
}

#entry:hover {
    color: #ebdbb2;
    background-color: transparent;
}

#text:selected {
    color: #C4A882;
}

/* Hide images/icons completely */
#img, #input image {
    min-width: 0;
    min-height: 0;
    max-width: 0;
    max-height: 0;
    background-color: transparent;
    background-image: none;
    color: transparent;
}
